package views

templ Base(content templ.Component, title string) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>{ title }</title>
			<link rel="stylesheet" href="https://unpkg.com/missing.css@1.2.0"/>
			<link rel="stylesheet" href="/static/site.css"/>
			<script src="/static/htmx.js"> </script>
		</head>
		<body hx-boost="true">
			<main>
				@content
			</main>
		</body>
	</html>
}
